<!DOCTYPE html>
<html>
   <head>
      <title>Update</title>
      <meta http-equiv = "refresh" content = "3; url = /<%= name %>" />
   </head>
   <body>
      <p>Successful update request, redirecting...</p>
   </body>
</html>
