<!DOCTYPE html>
<html>
   <head>
      <title>Update</title>
   </head>
   <body>
      <p>
        Many update requests are still in progress, but you can <a href="/<%= name %>/force_update">try again...</a>
      </p>
   </body>
</html>
