http://www2.freeflownation.org, https://www2.freeflownation.org {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/freeflownation2
}

http://www2.3bot.org, https://www2.3bot.org {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/3bot2
}


http://www2.atwg.tech, https://www2.atwg.tech {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/atwg2
}


http://www2.enertia.io, https://www2.enertia.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/enertia2
}


http://www2.euroflow.io, https://www2.euroflow.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/euroflow2
}


http://www2.freeflowtoken.com, https://www2.freeflowtoken.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/freeflowtoken2
}


http://www2.mazraa.io, https://www2.mazraa.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/mazraa2
}


http://www2.veda-retreats.com, https://www2.veda-retreats.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/vedaretreats2
}


http://www2.es.veda-egypt.com, https://www2.es.veda-egypt.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/esveda2
}


http://www2.bettertoken.com, https://www2.bettertoken.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/bettertoken2
}


http://www2.threefold.love, https://www2.threefold.love {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/threefoldlove2
}


http://www2.openly.live, https://www2.openly.live {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/openlylive2
}


http://www2.veda-egypt.com, https://www2.veda-egypt.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/vedaegypt2
}


http://www2.cultivo.earth, https://www2.cultivo.earth {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/cultivo2
}


http://www2.goldflow.io, https://www2.goldflow.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/goldflow2
}


http://www2.cloud.threefold.io, https://www2.cloud.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/cloudthreefold2
}


http://www2.farmer.threefold.io, https://www2.farmer.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/farmerthreefold2
}


http://www2.crystalhome.org, https://www2.crystalhome.org {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/crystalhome2
}


http://www2.codescalers.com, https://www2.codescalers.com {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/codescalers2
}


http://www2.inid.io, https://www2.inid.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls info@threefold.io
        proxy / localhost:3000/inidio2
}