http://advisors.threefold.me {
    redir {
           if {scheme} is http
           / https://{host}{uri}
    }
}


https://advisors.threefold.me {

    tls self_signed
    proxy /auth localhost:3000 {
        transparent
    }
    redir /advisors/ /


    proxy / localhost:3000/advisors
}


http://board.threefold.me {
    redir {
        if {scheme} is http
        / https://{host}{uri}
    }
}
https://board.threefold.me {

    tls self_signed
    proxy /auth localhost:3000 {
        transparent
    }
    redir /board/ /


    proxy / localhost:3000/board
}


http://ambassadors.threefold.me {
    redir {
           if {scheme} is http
           / https://{host}{uri}
    }
}


https://ambassadors.threefold.me {
    tls self_signed
    proxy /auth localhost:3000 {
        transparent
    }
    redir /ambassadors/ /

    proxy / localhost:3000/ambassadors
}


http://matchmakers.threefold.io {
    redir {
           if {scheme} is http
           / https://{host}{uri}
    }
}


https://matchmakers.threefold.io {
    tls self_signed
    proxy /auth localhost:3000 {
        transparent
    }
    redir /matchmakers/ /
    proxy / localhost:3000/matchmakers
}


http://matchmakers2.threefold.io {
    redir {
           if {scheme} is http
           / https://{host}{uri}
    }
}


https://matchmakers2.threefold.io {
    tls self_signed
    proxy /auth localhost:3000 {
       transparent
    }
    redir /matchmakers2/ /
    proxy / localhost:3000/matchmakers2
}


http://sdk.threefold.io, https://sdk.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls self_signed
        proxy / localhost:3000/sdk
}


http://sdk2.threefold.io, https://sdk2.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls self_signed
        proxy / localhost:3000/sdk2
}



http://wiki.threefold.io, https://wiki.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls self_signed
        proxy /api localhost:3000/
        proxy / localhost:3000/wiki
}


http://wiki2.threefold.io, https://wiki2.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls self_signed
        proxy /api localhost:3000/
        proxy / localhost:3000/wiki2
}

http://simulators.threefold.io, https://simulators.threefold.io {
       redir {
           if {scheme} is http
           / https://{host}{uri}
        }
        tls self_signed
        proxy / localhost:3000/
}

http://blog.threefold.io, https://blog.threefold.io {

        redir {
            if {scheme} is https
            if {path} is /
            / /blog/tfblog 307
        }

       redir {
           if {scheme} is http
           if {path} is /
           / https://{host}blog/tfblog/
        }

       redir {
           if {scheme} is http
           / https://{host}{uri}
        }

        tls self_signed
        proxy /api localhost:3000/
        proxy / localhost:3000
}


http://blog2.threefold.io, https://blog2.threefold.io {
        redir {
            if {scheme} is https
            if {path} is /
            / /blog/tfblog2 307
        }

       redir {
           if {scheme} is http
           if {path} is /
           / https://{host}blog/tfblog2/
        }

       redir {
           if {scheme} is http
           / https://{host}{uri}
        }

        tls self_signed
        proxy /api localhost:3000/
        proxy / localhost:3000
}
